@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}



.navbar .navbar-brand {
	color: rgba(255, 255, 255, .85);
	font-size: 1rem;
	padding-top: .45rem;
}   

.navbar .navbar-brand img { 
	max-width: 30px;
}

.bg-info {
	background: url('https://res.cloudinary.com/panoy05/image/upload/v1462267440/jumbo-bg_cy3rat.jpg');
	background-size: cover;
  color: #fff !important;
  background-color: #5bc0de !important;
  padding: 104px 0px 84px 0px;
}

.btn,
.active {
	transition: .4s;
}  

#map {
  width: 100%; 
  height: 250px;  
  margin-bottom: 15px;
}

.defaultSpacing {
  padding-top: 100px;
  margin-bottom: 50px;
}

